sudo: false

language: go

go:
  - 1.7.x
  - 1.8.x
  - 1.9.x
  - tip

branches:
  only:
  - master
  - develop

os:
  - linux

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

before_install:
  - make deps

script:
  - make test
  - make all
  - ./init-exporter --version
