language: go

go:
  - 1.10.x
  - 1.11.x
  - 1.12.x
  - 1.13.x
  - tip

os:
  - linux

services:
  - docker

branches:
  only:
  - master
  - develop

env:
  global:
    - IMAGE=essentialkaos/perfecto:centos7

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

before_install:
  - docker pull "$IMAGE"
  - wget https://kaos.sh/perfecto/perfecto-docker
  - chmod +x perfecto-docker
  - make deps
  - make deps-test

script:
  - make test
  - make all
  - ./init-exporter --version
  - ./perfecto-docker common/init-exporter.spec
